 /* .embla_container{
   display: flex;
   gap: 15px;
   overflow-x: auto;

 } */
 .f1-view {
    position: relative;
    height: 80vh;
    overflow: hidden;
 }

 .embla {
    width: 100%;
    overflow: hidden;
}

.embla__viewport {
   /* overflow-x:auto;
   width: 100%; */
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.embla__container {
    display: flex;
    will-change: transform;
     transition: transform 0.3s ease;
}

.embla__slide {
    flex: 0 0 80%;
    margin-right: 20px;
    min-width: 0;
    scroll-snap-align: center;
}
 .f1-view img{
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
 }
 .main-content{
   display: flex;
   align-items: center;
   gap: 10px;
   position: absolute;
    color: whitesmoke;
    bottom: 30px;
    left: 20px;
 }
 .content-button{
   background: whitesmoke;
   border: none;
   border-radius: 40px;
   padding: 10px 20px;
 }
 .texts{
   color: white;
   letter-spacing: 1;
   font-weight: 500;
   text-shadow: 900px;
 }
 
 @media (max-width: 768px) {
    .f1-view {
        height: 68vh;
        /* width: 80vw; */
    }
    .embla__slide {
        flex: 0 0 90%;
        margin-right: 10px;
    }
    .main-content {
        bottom: 20px;
        left: 10px;
    }
    .content-button {
        padding: 8px 16px;
    }
    .texts {
        font-size: 14px;
    }
}