 .smallslide{
    width: 100%;
    overflow: hidden;
   overflow-y: hidden;
   scrollbar-width: none;
 }
 .smallslide__container{
    display: flex;
    gap: 15px;
    will-change: transform;
 }
 .f1-view-small{
    position: relative;
    flex: 0  0 28%;
    height: 26vh;
    scroll-snap-align: center;
 }
 .f1-view-small img{
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .main-content-small{
   display: flex;
   flex-direction: row;
   align-items: center;
   /* justify-content: center; */
   align-self: center;
   gap: 10px;
   position: absolute;
    color: whitesmoke;
    top: 90%;
    left: 0;
    text-align: center;
    /* transform: translate(50%); */
 }