 .smallslide{
   display: flex;
   gap: 15px;
   overflow-x: auto;
   overflow-y: hidden;
   scroll-snap-type: x mandatory;
   scrollbar-width: none;
   /* flex-direction: row;  */
   /* gap: 18px; */
 }
 .f1-view-small{
    position: relative;
    flex: 0  0 28%;
    height: 26vh;
    scroll-snap-align: center;
 }
 .f1-view-small img{
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .main-content-small{
   display: flex;
   flex-direction: row;
   align-items: center;
   /* justify-content: center; */
   align-self: center;
   gap: 10px;
   position: absolute;
    color: whitesmoke;
    top: 90%;
    left: 0;
    text-align: center;
    /* transform: translate(50%); */
 }